    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWRhcnNoYWdyd2FsIiwiYSI6ImNrN3BuN2FoNTA4bGEzaXFkcjJvYXQ0ZnAifQ.IaCVUsnZqH77-agcveZKEw';
        var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/dark-v10',
                        center: [75,25],
                        zoom: 3
                    });
                    
        map.addControl(new mapboxgl.NavigationControl());

        var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
        '<% data["Countries"].forEach(function(ct){%>'
                '<% var x = ct["Country"]; %>'
                    mapboxClient.geocoding.forwardGeocode({
                        query: '<%=x%>',
                        autocomplete: false,
                        limit: 1
                    }).send().then(function(response) {
                        if (response && response.body && response.body.features && response.body.features.length) {
                            var feature = response.body.features[0];
                            var popup = new mapboxgl.Popup({offset: 25}).setHTML('<div><h6 class="text-secondary">Country : <%=ct["Country"]%></h6><h6 class="text-info">Total Confirmed : <%=ct["TotalConfirmed"]%></h6><h6 class="text-info">New Confirmed : <%=ct["NewConfirmed"]%></h6><h6 class="text-success">Total Recovered : <%=ct["TotalRecovered"]%></h6><h6 class="text-success">New Recovered : <%=ct["NewRecovered"]%></h6><h6 class="text-danger">Total Deaths : <%=ct["TotalDeaths"]%></h6><h6 class="text-danger">New Deaths : <%=ct["NewDeaths"]%></h6></div>');
                            let marker = new mapboxgl.Marker().setLngLat(feature.center);
                            const element = marker.getElement();
                            element.id = 'marker'
                            element.addEventListener('mouseenter', () => popup.addTo(map));
                            element.addEventListener('mouseleave', () => popup.remove());
                            marker.setPopup(popup);
                            marker.addTo(map);
                        }
                    });
        '<% }); %>'
    </script>
    <script>
    function gettingCountry(){
        var sel = document.getElementById("country").value
        console.log(sel)
    }
    </script>

    <!-- Optional JavaScript -->
    <script src="JS/app.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>